@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

/* Force dark background on autofill for all inputs */
/* Force dark background on autofill for all inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
    -webkit-text-fill-color: #f1f5f9 !important;
    transition: background-color 5000s ease-in-out 0s;
    border-radius: 0.75rem !important;
}